@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply antialiased;
}

.bg-pattern {
  background-color: #f0f9ff;
  background-image: radial-gradient(#e0f2fe 1px, transparent 1px);
  background-size: 20px 20px;
}